body {
    font-family: Arial;
    text-align: center;
}



a {
    font-family: 'Bangers', cursive;
    color: #ff8400;
    font-size: 28px;
    text-decoration: none;
}



/*-------INFO LOG-------*/

/* font-family: 'Bangers', cursive; */
/* <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet"> */

/* https://www.google.nl/search?q=Baviaan&tbm=isch */

