body {
    font-family: Arial;
    text-align: center;
}



p {
    font-family: 'Bangers', cursive;
    color: #ff8400;
    font-size: 28px;
}



/*-------INFO LOG-------*/

/* font-family: 'Bangers', cursive; */
/* <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet"> */

